<div class="reveal" id="sign-up" data-reveal>

    <%= form_for @user do |f| %>
        <%= f.text_field :username, placeholder: "username", class: "text-center"  %>
        <%= f.text_field :email, placeholder: "email", class: "text-center", type: "email"  %>
        <%= f.password_field :password, placeholder: "password", class: "text-center"  %>
        <%= f.password_field :password_confirmation, placeholder: "confirmation", class: "text-center" %>
        <%= f.submit 'Sign up', class: "expanded large button" %>
    <% end %>

</div>

<a data-open="sign-up" class="button expanded">Sign up</a>
